#playground-container {
    height: 500px;
    overflow: hidden !important;
    -webkit-overflow-scrolling: touch;
}

body, html {
    height: 100%;
    background-color: #d2ff52; /* Old browsers */
    background-color: -moz-radial-gradient(center, ellipse cover, #d2ff52 11%, #d2ff52 11%, #91e842 100%); /* FF3.6-15 */
    background-color: -webkit-radial-gradient(center, ellipse cover, #d2ff52 11%, #d2ff52 11%, #91e842 100%); /* Chrome10-25,Safari5.1-6 */
    background-color: radial-gradient(ellipse at center, #d2ff52 11%, #d2ff52 11%, #91e842 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d2ff52', endColorstr='#91e842', GradientType=1); /* IE6-9 fallback on horizontal gradient */
    font-family: 'Oxygen', sans-serif;
    background-size: cover;
}

.container {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

h4 {
    margin-top: 10px;
    text-align: center;
}

.main {
    margin: 50px 15px;
}

h1.title {
    font-size: 50px;
    font-family: 'Passion One', cursive;
    font-weight: 400;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.form-group {
    margin-bottom: 15px;
    text-align: center;
}

label {
    margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login {
    background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 5px 15px 4px rgba(0, 0, 0, 0.40);
    -moz-box-shadow: 0px 5px 15px 4px rgba(0, 0, 0, 0.40);
    box-shadow: 0px 5px 15px 4px rgba(0, 0, 0, 0.40);
    width: 100%;

}

.form-control {
    height: auto !important;
    padding: 8px 12px !important;
}

.form-group {
    margin-top: 30px;
    margin-bottom: 40px;
}

.ws-errorbox p {
    margin: 2px 0 3px;
    padding: 0;
    color: #f35b59;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.60);
}

.has-success .form-control {
    border-color: #d2ff52;
}

.has-success .input-group-addon {
    color: #d2ff52;
    border-color: #d2ff52;
    background-color: #eaf6ea;
}

.form-group >[class*="col-"] + .ws-errorbox {
    padding: 0 15px;
}

.input-group {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.21) !important;
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.21) !important;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.21) !important;
}

.btn-success {
    border: none;
    font-size: 20px;
    margin: 3px;
    color: #000000;
    background-color: #d2ff52; /* Old browsers */
    background-color: -moz-radial-gradient(center, ellipse cover, #d2ff52 11%, #d2ff52 11%, #91e842 100%); /* FF3.6-15 */
    background-color: -webkit-radial-gradient(center, ellipse cover, #d2ff52 11%,#d2ff52 11%,#91e842 100%); /* Chrome10-25,Safari5.1-6 */
    background-color: radial-gradient(ellipse at center, #d2ff52 11%,#d2ff52 11%,#91e842 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    transition: 0.8s;
    cursor: pointer;
    width: 100%;
    border-radius: 100px;
}

.btn-success:hover {
    color: #fff;
    background-color: #449d44;
    border: none;
    transition: 0.8s;
}

.main-center {
    margin-top: 30px;
    margin: 0 auto;
    /*max-width: 835px;*/
    padding: 30px;
    background-color:rgba(0, 0, 0, 0.5);
    /*background: #49c0f0; !* Old browsers *!*/
    /*background: -moz-linear-gradient(top, #49c0f0 0%, #2cafe3 100%); !* FF3.6-15 *!*/
    /*background: -webkit-linear-gradient(top, #49c0f0 0%, #2cafe3 100%); !* Chrome10-25,Safari5.1-6 *!*/
    /*background: linear-gradient(to bottom, #49c0f0 0%, #2cafe3 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#49c0f0', endColorstr='#2cafe3', GradientType=0); !* IE6-9 *!*/
    color: #FFF;
    text-shadow: none;
    -webkit-box-shadow: 0px 5px 15px 4px rgba(0, 0, 0, 0.40);
    -moz-box-shadow: 0px 5px 15px 4px rgba(0, 0, 0, 0.40);
    box-shadow: 0px 5px 15px 4px rgba(0, 0, 0, 0.40);

}

span.input-group-addon i {
    color: #449d44;
    font-size: 17px;
}

.login-button {
    margin-top: 5px;
}

.login-register {
    font-size: 11px;
    text-align: center;
}

.formedits {
    width: 100%;
}

.loginform {
    text-align: center;
    font-size: 20px;
}

.error {
    color: #f35b59;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.60);
}

.btn-link {
    color: #d2ff52;
    text-decoration: none;
    transition: 0.8s;
    cursor: pointer;
}

.btn-link:hover {
    color: #ffffff;
    text-decoration: none;
    transition: 0.8s;
}

.btn-link:focus {
    color: #ffffff;
    text-decoration: none;
    transition: 0.8s;
}

.btn-link {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
}
.btn-link:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
.btn-link:hover:after {
    width: 100%;
    background: #ffffff;
}

/* MODAL REGISTER BUTTON CSS */

.modal-content {
    color: black;
}

.modal-title {
    width: 100%;
    text-align: center;
}

.modal-footer>:not(:first-child) {
    margin-right: 0px;
    width: 100%;
}

.modal-footer>:not(:last-child) {
    margin-right: 0px;
    width: 100%;
}

/* FOOTER CSS GOES BELOW HERE */

footer {
    color: #549830;
    text-align: center;
}

footer a {
    color: #549830;
}

footer a:hover {
    color: #000;
}

.footer-bottom {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00b7ea+22,00b7ea+22,009ec3+88 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ededed 0%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ededed 0%, #ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ededed 0%, #ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=0); /* IE6-9 */
    padding: 2em;
}

/*.footer-top{*/
/*background: #0d583f;*/
/*}*/
.footer-middle {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #ededed 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%, #ededed 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%, #ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=0); /* IE6-9 */
    padding-top: 2em;
    color: #549830;
}

.footertitle {
    color: #000;
}

.footer-row {
    margin-right: 0px;
    margin-left: 0px;
}