<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<!--HEAD & STYLESHEETS-->
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1"/>
    <title>Profile</title>
    <link rel="shortcut icon" href="image/favicon.ico" type="image/x-icon"/>
    <link rel="icon" href="image/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/4a71ee3d99.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

    <link rel="stylesheet" href="stylesheets/stylesheet.css"/>

</head>
<body>

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="/">Level Up Learning</a>


    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">

            <li class="nav-item" sec:authorize="isAuthenticated()"><a href="/profile" class="nav-link"><span
                    th:text="${user.firstName + ' ' + user.lastName}"></span></a></li>
            <!--<li class="nav-item"><a href="/updateprofile" class="nav-link">Edit Profile</a></li>-->
            <li class="nav-item"><a href="/teachers" class="nav-link">View all Teachers</a></li>
            <!--<li class="nav-item" sec:authorize="isAuthenticated()">-->
                <!--<form th:action="@{/logout}" th:method="post">-->
                    <!--<button class="nav-link btn btn-link" style="margin-top: 2px">Logout</button>-->
                <!--</form>-->
            <!--</li>-->
        </ul>
        <form th:action="@{/logout}" th:method="post" class="nav-item" sec:authorize="isAuthenticated()">
            <button class="nav-link btn-link">Logout</button>
        </form>
        <div id="settingsIcon">
        <span><a href="/updateprofile"><i class="fa fa-cogs" aria-hidden="true"></i></a></span>
        </div>

    </div>
</nav>


<div class="container">
    <div class="jumbotron" id="profilebackground">
        <h1 class="display-3">PICTURE GOES HERE</h1>
        <p class="lead">WELCOME, <span
                th:text="${user.firstName + ' ' + user.lastName}"></span></p>
        <p class="display-3">
        <h3>What Would You Like To Do?</h3></p>
        <div class="search-functionality">
            <form class="search-form" th:action="@{/searchTeachersBySubjects}" th:method="post" >
            <select id="subjectsDropdown" multiple="multiple" class="form-control" name="subjects">
                <option th:each="subject: *{subjects}" th:value="${subject.id}" th:text="${subject.name}"></option>
            </select>
                <div th:each="teacher : ${teachers}">
                    <h3>Subjects:</h3>
                    <div th:each="subject : ${teacher.subjects}">
                        <span th:text="${subject.name}"></span>
                    </div>
                </div>

            <button class="btn btn-success">SEARCH</button>
            </form>

        </div>
        <hr class="my-4"/>
    </div>

    <!-- FOOTER STARTS HERE -->

    <footer class="mainfooter" role="contentinfo">
        <div class="footer-top p-y-2">
        </div>
        <div class="footer-middle">
            <div class="container">
                <div class="row footer-row">
                    <div class="col-md-3 col-sm-6">
                        <!--Column1-->
                        <div class="footer-pad">
                            <h4 class="footertitle">Address</h4>
                            <address>
                                <ul class="list-unstyled">
                                    <li>
                                        Codeup<br/>
                                        600 Navarro St #350<br/>
                                        San Antonio, TX<br/>
                                        78205<br/>
                                    </li>
                                    <li>
                                        Phone: (210) 555-5555
                                    </li>
                                </ul>
                            </address>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <!--Column1-->
                        <div class="footer-pad">
                            <h4 class="footertitle">Popular Services</h4>
                            <ul class="list-unstyled">
                                <li><a href="#"></a></li>
                                <li><a href="#">Payment Center</a></li>
                                <li><a href="#">Contact Directory</a></li>
                                <li><a href="#">Forms</a></li>
                                <li><a href="#">News and Updates</a></li>
                                <li><a href="#">FAQs</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <!--Column1-->
                        <div class="footer-pad">
                            <h4 class="footertitle">Website Information</h4>
                            <ul class="list-unstyled">
                                <li><a href="#">Website Tutorial</a></li>
                                <li><a href="#">Accessibility</a></li>
                                <li><a href="#">Disclaimer</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">FAQs</a></li>
                                <li><a href="#">Webmaster</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <!--Column1-->
                        <div class="footer-pad">
                            <h4 class="footertitle">Popular Departments</h4>
                            <ul class="list-unstyled">
                                <li><a href="#">Parks and Recreation</a></li>
                                <li><a href="#">Public Works</a></li>
                                <li><a href="#">Police Department</a></li>
                                <li><a href="#">Fire</a></li>
                                <li><a href="#">Mayor and City Council</a></li>
                                <li>
                                    <a href="#"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <!--Footer Bottom-->
                        <p class="text-xs-center">&copy; Copyright 2017 - City of USA. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/js/dropdown.js"></script>

</html>