<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<!--HEAD & STYLESHEETS-->
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1"/>
    <title>Login</title>
    <link rel="shortcut icon" href="image/favicon.ico" type="image/x-icon"/>
    <link rel="icon" href="image/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/4a71ee3d99.js"></script>
    <link rel="stylesheet" href="stylesheets/formstylesheet.css"/>

</head>
<body>

<div class="container">
    <div class="row main">
        <div class="main-login main-center">
            <h4>LOGIN</h4>
            <div class="loginform">
                <div th:if="${param.error}">
                    Invalid Username and Password.
                </div>
                <div th:if="${param.logout}">
                    You have been logged out.
                </div>
            <hr/>
            <form class="formedits" method="POST" th:action="@{/login}">

                <div class="form-group">
                    <label for="username" class="cols-sm-2 control-label">Username</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="username" id="username"  placeholder="Enter your username"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" name="password"  id="password"  placeholder="Enter your password"/>
                        </div>
                    </div>
                </div>

                <div class="form-group ">
                    <input type="submit" class="btn btn-success" value="LOGIN" />
                </div>

            </form>
        </div>
    </div>
</div>
</div>



<!-- FOOTER STARTS HERE -->

<footer class="mainfooter" role="contentinfo">
    <div class="footer-top p-y-2">
    </div>
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <!--Column1-->
                    <div class="footer-pad">
                        <h4 class="footertitle">Address</h4>
                        <address>
                            <ul class="list-unstyled">
                                <li>
                                    Codeup<br/>
                                    600 Navarro St #350<br/>
                                    San Antonio, TX<br/>
                                    78205<br/>
                                </li>
                                <li>
                                    Phone: (210) 555-5555
                                </li>
                            </ul>
                        </address>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <!--Column1-->
                    <div class="footer-pad">
                        <h4 class="footertitle">Popular Services</h4>
                        <ul class="list-unstyled">
                            <li><a href="#"></a></li>
                            <li><a href="#">Payment Center</a></li>
                            <li><a href="#">Contact Directory</a></li>
                            <li><a href="#">Forms</a></li>
                            <li><a href="#">News and Updates</a></li>
                            <li><a href="#">FAQs</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <!--Column1-->
                    <div class="footer-pad">
                        <h4 class="footertitle">Website Information</h4>
                        <ul class="list-unstyled">
                            <li><a href="#">Website Tutorial</a></li>
                            <li><a href="#">Accessibility</a></li>
                            <li><a href="#">Disclaimer</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">FAQs</a></li>
                            <li><a href="#">Webmaster</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <!--Column1-->
                    <div class="footer-pad">
                        <h4 class="footertitle">Popular Departments</h4>
                        <ul class="list-unstyled">
                            <li><a href="#">Parks and Recreation</a></li>
                            <li><a href="#">Public Works</a></li>
                            <li><a href="#">Police Department</a></li>
                            <li><a href="#">Fire</a></li>
                            <li><a href="#">Mayor and City Council</a></li>
                            <li>
                                <a href="#"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <!--Footer Bottom-->
                    <p class="text-xs-center">&copy; Copyright 2017 - City of USA. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>

<script src="js/scrollspyjs.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

</html>