<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subjects</title>

    <h1>Please select the subjects you teach or are interested in:</h1>

    <span class="info-container">     <span class="info">Subject(s)</span>     <button type="button"
                                                                                       class="btn clear1 pull-right btn-default btn-xs">Select subjects</button>   </span>
    <select multiple="multiple" id="bootstrap-duallistbox-nonselected-list_subject_id[]" class="form-control valid"
            name="subject_id[]_helper1" style="height: 102px;" aria-invalid="false">
        th:each

    </select>


    <div class="box2 col-md-6"><label for="bootstrap-duallistbox-selected-list_subject_id[]">Your Selected
        Subjects Include</label> <span class="info-container">     <span class="info">Subject(s)</span>     <button
            type="button" class="btn clear2 pull-right btn-default btn-xs">show all</button>   </span> <input
            class="filter form-control" type="text" placeholder="Filter Options">
        <div class="btn-group buttons">
            <button type="button" class="btn remove btn-default" title="Remove selected"><i
                    class="glyphicon glyphicon-arrow-left"></i></button>
            <button type="button" class="btn removeall btn-default" title="Remove all"><i
                    class="glyphicon glyphicon-arrow-left"></i> <i class="glyphicon glyphicon-arrow-left"></i></button>
        </div>
        <select multiple="multiple" id="bootstrap-duallistbox-selected-list_subject_id[]" class="form-control"
                name="subject_id[]_helper2" style="height: 102px;">

        </select></div>


</head>
<body>

</body>
</html>