<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subjects</title>

    <h1>Please select the subjects you teach or are interested in.</h1>

    <span class="info-container">     <span class="info">329 Subject(s)</span>     <button type="button" class="btn clear1 pull-right btn-default btn-xs">Select subjects</button>   </span>
    <select multiple="multiple" id="bootstrap-duallistbox-nonselected-list_subject_id[]" class="form-control valid" name="subject_id[]_helper1" style="height: 102px;" aria-invalid="false">
        <option value="318">10th Grade</option>
        <option value="319">10th Grade math</option>
        <option value="320">10th Grade Reading</option>
        <option value="321">10th Grade Writing</option>
        <option value="322">11th Grade</option>
        <option value="323">11th Grade math</option>
        <option value="324">11th Grade Reading</option>
        <option value="325">11th Grade Writing</option>
        <option value="326">12th Grade</option>
        <option value="327">12th Grade math</option>
        <option value="328">12th Grade Reading</option>
        <option value="329">12th Grade Writing</option>
        <option value="276">1st Grade</option>
        <option value="277">1st Grade math</option>
        <option value="278">1st Grade Reading</option>
        <option value="279">1st Grade Writing</option>
        <option value="280">2nd Grade</option>
        <option value="281">2nd Grade math</option>
        <option value="282">2nd Grade Reading</option>
        <option value="283">2nd Grade Writing</option>
        <option value="284">3rd Grade</option>
        <option value="285">3rd Grade math</option>
        <option value="286">3rd Grade Reading</option>
        <option value="287">3rd Grade Science</option>
        <option value="288">3rd Grade Writing</option>
        <option value="289">4th Grade</option>
        <option value="290">4th Grade math</option>
        <option value="291">4th Grade Reading</option>
        <option value="292">4th Grade Science</option>
        <option value="293">4th Grade Writing</option>
        <option value="294">5th Grade</option>
        <option value="295">5th Grade math</option>
        <option value="296">5th Grade Reading</option>
        <option value="297">5th Grade Science</option>
        <option value="298">5th Grade Writing</option>
        <option value="299">6th Grade</option>
        <option value="300">6th Grade math</option>
        <option value="301">6th Grade Reading</option>
        <option value="302">6th Grade Science</option>
        <option value="303">6th Grade Writing</option>
        <option value="304">7th Grade</option>
        <option value="305">7th Grade math</option>
        <option value="306">7th Grade Reading</option>
        <option value="307">7th Grade Science</option>
        <option value="308">7th Grade Writing</option>
        <option value="309">8th Grade</option>
        <option value="310">8th Grade math</option>
        <option value="311">8th Grade Reading</option>
        <option value="312">8th Grade Science</option>
        <option value="313">8th Grade Writing</option>
        <option value="314">9th Grade</option>
        <option value="315">9th Grade math</option>
        <option value="316">9th Grade Reading</option>
        <option value="317">9th Grade Writing</option>
        <option value="1">Accounting</option>
        <option value="2">ACCUPLACER Arithmetic</option>
        <option value="3">ACCUPLACER College-Level Math</option>
        <option value="4">ACCUPLACER Elementary Algebra</option>
        <option value="4">ACCUPLACER ESL</option>
        <option value="6">ACCUPLACER Reading Comprehension</option>
        <option value="7">ACCUPLACER Sentence Skills</option>
        <option value="8">ACCUPLACER WritePlacer </option>
        <option value="9">ACT</option>
        <option value="10">ADD</option>
        <option value="11">ADHD</option>
        <option value="12">Advanced Placement</option>
        <option value="13">African History</option>
        <option value="14">African-American History</option>
        <option value="15">Agricultural Science</option>
        <option value="16">Algebra 1</option>
        <option value="17">Algebra 2</option>
        <option value="18">Algebra 3/4</option>
        <option value="19">Algorithms</option>
        <option value="20">American History</option>
        <option value="21">American Literature</option>
        <option value="22">American Sign Language</option>
        <option value="23">Analytical Chemistry</option>
        <option value="24">Anatomy</option>
        <option value="25">Ancient and Medieval Heritage</option>
        <option value="26">Anthropology</option>
        <option value="27">AP</option>
        <option value="28">AP Art History</option>
        <option value="29">AP Biology</option>
        <option value="30">AP Calculus AB</option>
        <option value="31">AP Calculus BC</option>
        <option value="32">AP Chemistry</option>
        <option value="33">AP Chinese</option>
        <option value="34">AP Chinese Language and Culture</option>
        <option value="35">AP Comparative Government and Politics</option>
        <option value="36">AP Computer Science</option>
        <option value="37">AP English Language and Composition</option>
        <option value="38">AP English Literature and Composition</option>
        <option value="39">AP Environmental Science</option>
        <option value="40">AP European History</option>
        <option value="41">AP French</option>
        <option value="42">AP French Language and Culture</option>
        <option value="43">AP German Language and Culture</option>
        <option value="44">AP Human Geography</option>
        <option value="45">AP Italian Language and Culture</option>
        <option value="46">AP Japanese Language and Culture</option>
        <option value="47">AP Latin</option>
        <option value="48">AP Macroeconomics</option>
        <option value="49">AP Microeconomics</option>
        <option value="50">AP Music Theory</option>
        <option value="51">AP Physics 1</option>
        <option value="52">AP Physics 1 - DUPE</option>
        <option value="53">AP Physics 2 - DUPE</option>
        <option value="54">AP Physics 2: Electricity and Magnetism</option>
        <option value="55">AP Physics 2: Mechanics</option>
        <option value="56">AP Psychology</option>
        <option value="57">AP Statistics</option>
        <option value="58">AP Studio Art</option>
        <option value="59">AP Studio Art: 2-D Design</option>
        <option value="60">AP Studio Art: 3-D Design</option>
        <option value="61">AP Studio Art: Drawing</option>
        <option value="62">AP U.S. Government &amp; Politics</option>
        <option value="63">AP United States History</option>
        <option value="64">AP US Government</option>
        <option value="65">AP US History</option>
        <option value="66">AP World History</option>
        <option value="67">Applied Mathematics</option>
        <option value="68">Arabic</option>
        <option value="69">Archaeology</option>
        <option value="70">Architectural Design</option>
        <option value="71">Architecture</option>
        <option value="72">Arithmetic</option>
        <option value="73">Art</option>
        <option value="74">ASVAB</option>
        <option value="75">Autism</option>
        <option value="76">Bass Guitar</option>
        <option value="77">Biochemistry</option>
        <option value="78">Biology</option>
        <option value="79">Biomechanics</option>
        <option value="80">Biomedical Engineering</option>
        <option value="81">Biostatistics</option>
        <option value="82">Biotechnology</option>
        <option value="83">British Literature</option>
        <option value="84">Business</option>
        <option value="85">Business Enterprise</option>
        <option value="86">Business Statistics</option>
        <option value="87">C++</option>
        <option value="92">Calculus</option>
        <option value="95">Cantonese</option>
        <option value="96">Cardiology</option>
        <option value="97">CSS-Cascading Style Sheets</option>
        <option value="98">Cell Biology</option>
        <option value="99">Cello</option>
        <option value="100">Ceramics</option>
        <option value="101">Chemical Engineering</option>
        <option value="102">Chemistry</option>
        <option value="104">Chinese</option>
        <option value="105">Civics</option>
        <option value="106">Civil and Environmental Engineering</option>
        <option value="107">Civil Engineering</option>
        <option value="108">Civil Procedure</option>
        <option value="109">Clarinet</option>
        <option value="110">College Algebra</option>
        <option value="111">College Essays</option>
        <option value="112">COMPASS Mathematics</option>
        <option value="113">COMPASS Reading</option>
        <option value="114">COMPASS Writing Skills</option>
        <option value="88">Computer Animation</option>
        <option value="115">Computer Game Design</option>
        <option value="116">Computer Programming</option>
        <option value="117">Computer Science</option>
        <option value="118">Computer Skills</option>
        <option value="119">Creative Writing</option>
        <option value="120">Czech</option>
        <option value="121">Differential Equations</option>
        <option value="122">Digital Media</option>
        <option value="123">Drawing</option>
        <option value="124">Drum and Percussion</option>
        <option value="125">Dutch</option>
        <option value="126">Dyslexia</option>
        <option value="127">Economics</option>
        <option value="128">Electrical and Computer Engineering</option>
        <option value="129">Electrical Engineering</option>
        <option value="130">Elementary Algebra</option>
        <option value="131">Elementary Math</option>
        <option value="132">Engineering</option>
        <option value="133">English</option>
        <option value="134">ESL/ELL</option>
        <option value="135">Essay Editing</option>
        <option value="136">Fiction Writing</option>
        <option value="137">Film</option>
        <option value="138">Finance</option>
        <option value="139">Finite Mathematics</option>
        <option value="140">Finnish</option>
        <option value="141">Flute</option>
        <option value="142">Foreign Language</option>
        <option value="143">French</option>
        <option value="144">Gastroenterology</option>
        <option value="145">GED</option>
        <option value="146">Geography</option>
        <option value="147">Geology</option>
        <option value="148">Geometry</option>
        <option value="149">German</option>
        <option value="150">Gifted</option>
        <option value="151">Government</option>
        <option value="152">Grammar and Mechanics</option>
        <option value="153">Graphic Design</option>
        <option value="154">Greek</option>
        <option value="155">Guitar</option>
        <option value="156">Handwriting</option>
        <option value="157">Health Care Policy</option>
        <option value="158">Hebrew</option>
        <option value="159">History</option>
        <option value="160">Homeschool</option>
        <option value="161">Honors</option>
        <option value="162">HTML</option>
        <option value="163">Hungarian</option>
        <option value="164">Industrial Engineering</option>
        <option value="165">Intermediate Accounting</option>
        <option value="166">Intermediate Algebra</option>
        <option value="167">Italian</option>
        <option value="168">Japanese</option>
        <option value="169">Java</option>
        <option value="170">JavaScript</option>
        <option value="171">JQuery</option>
        <option value="172">Kindergarten - 8th Grade</option>
        <option value="173">Korean</option>
        <option value="174">Laboratory</option>
        <option value="175">Languages</option>
        <option value="176">Latin</option>
        <option value="177">Latin America History</option>
        <option value="178">Law</option>
        <option value="179">Legal Research</option>
        <option value="180">Legal Writing</option>
        <option value="181">Life Sciences</option>
        <option value="182">Linear Algebra</option>
        <option value="183">Linguistics</option>
        <option value="184">Literature</option>
        <option value="185">LSAT</option>
        <option value="186">Macroeconomics</option>
        <option value="187">Management</option>
        <option value="188">Mandarin Chinese</option>
        <option value="189">Marketing</option>
        <option value="190">Math</option>
        <option value="191">Mathematical Foundations for Computer Science</option>
        <option value="192">Mechanical Engineering</option>
        <option value="193">Medical Terminology</option>
        <option value="194">Microbiology</option>
        <option value="195">Microeconomics</option>
        <option value="196">Middle School</option>
        <option value="197">Middle School Math</option>
        <option value="198">Music</option>
        <option value="199">Neuroscience</option>
        <option value="200">Newtonian Mechanics</option>
        <option value="201">Nutrition</option>
        <option value="202">Operating Systems</option>
        <option value="203">Organic Chemistry</option>
        <option value="204">Organization</option>
        <option value="205">Other</option>
        <option value="206">Painting</option>
        <option value="207">Persuasive Writing</option>
        <option value="208">Phonics</option>
        <option value="209">Photography</option>
        <option value="210">PHP</option>
        <option value="211">Physical Chemistry</option>
        <option value="212">Physical Science</option>
        <option value="213">Physics</option>
        <option value="214">Piano</option>
        <option value="215">Plant Biology</option>
        <option value="216">Poetry Writing</option>
        <option value="217">Polish</option>
        <option value="218">Political Science</option>
        <option value="219">Pre-Algebra</option>
        <option value="220">Pre-Calculus</option>
        <option value="221">Probability</option>
        <option value="222">Programming</option>
        <option value="223">Programming VB.NET</option>
        <option value="224">Public Speaking</option>
        <option value="225">Python</option>
        <option value="226">Quantitative Reasoning</option>
        <option value="227">Quantum Mechanics</option>
        <option value="228">Quantum Physics</option>
        <option value="229">Quantum Theory</option>
        <option value="230">Reading</option>
        <option value="231">Religious Studies</option>
        <option value="232">Romanian</option>
        <option value="233">Ruby</option>
        <option value="234">Russian</option>
        <option value="235">SAT</option>
        <option value="236">SAT Subject Tests</option>
        <option value="237">Saxophone</option>
        <option value="238">Science</option>
        <option value="239">Scientific Programming </option>
        <option value="240">Sculpture</option>
        <option value="241">Shakespeare</option>
        <option value="242">Short Novel</option>
        <option value="243">Singing</option>
        <option value="244">Social Studies</option>
        <option value="245">Sociology</option>
        <option value="246">Software</option>
        <option value="247">Software Engineering</option>
        <option value="248">Spanish</option>
        <option value="249">Special Education</option>
        <option value="250">SQL</option>
        <option value="251">SSAT- Elementary Level</option>
        <option value="252">SSAT- Middle Level</option>
        <option value="253">SSAT- Upper Level</option>
        <option value="254">STAAR</option>
        <option value="255">STAAR Grades 3-8</option>
        <option value="256">Statistics</option>
        <option value="257">Structural Engineering</option>
        <option value="258">Study Skills</option>
        <option value="259">Study Skills And Organization</option>
        <option value="260">Summer Tutoring</option>
        <option value="261">Technical Writing</option>
        <option value="262">Technology and Computer Science</option>
        <option value="263">Test Prep</option>
        <option value="264">Trigonometry</option>
        <option value="265">US Constitutional History</option>
        <option value="267">US History</option>
        <option value="268">Violin</option>
        <option value="269">Vocabulary</option>
        <option value="270">Voice</option>
        <option value="271">Web Design</option>
        <option value="272">Web Development</option>
        <option value="273">World Civilization</option>
        <option value="274">World History</option>
        <option value="275">Writing</option>

    </select>

    <h1>Your selected subjects include</h1>





</head>
<body>

</body>
</html>